@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-white: #f4edea;
    --color-pblue: #12263a;
    --color-lblue: #06bcc1;
    --color-lorange: #f4d1ae;
    --color-project: #1e293b;
    --color-projectDesc: #a3b8cc;

    --font-logofont: 'Pacifico', cursive;
    --font-headfont: 'Montagu Slab Variable', serif;
    --font-bodyfont: 'Open Sans Variable', sans-serif;
  }

  h1 {
    @apply text-3xl; /* Default font size */
  }

  h2 {
    @apply text-2xl; /* Default font size */
  }

  h3 {
    @apply text-xl; /* Default font size */
  }

  @media (min-width: 768px) {
    h1 {
      @apply text-4xl; /* Larger font size for medium screens */
    }

    h2 {
      @apply text-3xl; /* Larger font size for medium screens */
    }

    h3 {
      @apply text-2xl; /* Larger font size for medium screens */
    }

    .prose h1 {
      @apply text-4xl;
    }
    .prose h2 {
      @apply text-3xl;
    }

    .prose h3 {
      @apply text-2xl;
    }
    .prose p,
    .prose li {
      @apply text-lg;
    }
  }
}

.prose strong {
  color: white; /* Tailwind's blue-600 color */
}
