---
import NewsletterForm from '../forms/NewsletterFrom';
const workerEndpoint = import.meta.env.WORKER_ENDPOINT;
console.log('env variables', workerEndpoint);
---

<section
  class="min-h-ful mt-20 flex w-full flex-col items-center justify-between gap-4 md:flex-row"
>
  <div class="w-full">
    <h2 class="mb-6 text-2xl font-bold">
      Subscribe to my <span class="text-lblue">Newsletters</span>
    </h2>
    <p class="mt-6 text-base leading-5 md:leading-6">
      Get the latest updates on my blog, projects, and other tech-related stuff.
    </p>
  </div>
  <NewsletterForm client:load workerEndpoint={workerEndpoint} />
</section>
