---
import { getEntry, render } from 'astro:content';
import type { CollectionEntry } from 'astro:content';
import { ISPARTOF } from '@/data/constant';
import MainLayout from '@/layouts/MainLayout.astro';
import Prose from '@/components/Prose.astro';
import { Image } from 'astro:assets';
import profilePicture from '@/images/mdj.png';
import Animation from '@/components/Animation';

const entry = await getEntry('personal', 'about');

if (!entry) {
  return Astro.redirect('/404');
}

const typedEntry: CollectionEntry<'personal'> = entry;
const { Content } = await render(typedEntry);

const title = `About Me`;
const description = `Here's the summary of my expertise and experience as a Fullstack Developer`;
---

<MainLayout
  title={title}
  structuredData={{
    '@context': 'https://schema.org',
    '@type': 'WebPage',
    '@id': `https://melnerdz.com/about`,
    url: `https://melnerdz.com/about`,
    name: `Todo Scout`,
    description: description,
    isPartOf: ISPARTOF,
    inLanguage: 'en-US',
  }}
  meta={description}
>
  <section class="my-20 w-full px-4 md:px-8">
    <div
      class="custom-container mx-auto flex flex-col items-center justify-center md:py-10"
    >
      <figure
        class="mx-auto mb-10 h-44 w-44 overflow-hidden rounded-full bg-projectDesc text-center md:h-60 md:w-60"
      >
        <Image src={profilePicture} alt="Profile picture" />
      </figure>
      <!-- <Animation client:load /> -->
      <Prose>
        <Content />
      </Prose>
    </div>
  </section>
</MainLayout>
