---
import { Image } from 'astro:assets';

import MainLayout from '../layouts/MainLayout.astro';
import ContactForm from '../components/ContactForm.astro';
import Logo from '../../public/logo.png';

const title: string = 'Contact Me';
const description: string =
  'Contact page. Send me a message for any inquiries or job offer.';
---

<MainLayout title={title} description={description}>
  <section>
    <h1
      class="mx-auto flex items-center justify-center text-center font-headfont text-3xl font-bold md:text-4xl"
    >
      Let's Connect
    </h1>

    <p class="mt-6 text-center font-medium text-white">
      I'm always excited to collaborate on innovative projects and bring ideas
      to life through clean, efficient code. Whether you have a project in mind,
      want to discuss potential opportunities, or simply want to connect, feel
      free to reach out! Fill out the form below, and I'll get back to you as
      soon as possible. Looking forward to hearing from you!
    </p>

    <ContactForm />
  </section>
</MainLayout>
