---
import { Image } from 'astro:assets';

import MainLayout from '../layouts/MainLayout.astro';
import ContactForm from '../components/ContactForm.astro';
import Logo from '../../public/logo.png';

const title: string = 'Contact Me';
const description: string =
  'Contact page. Send me a message for any inquiries or job offer.';
---

<MainLayout title={title} description={description}>
  <section>
    <h1
      class="mx-auto flex items-center justify-center text-center font-headfont text-3xl font-bold md:text-4xl"
    >
      Contact <Image class="ml-3 mr-1" src={Logo} alt="logo image" width={30} />
      e
    </h1>
    <ContactForm />
  </section>
</MainLayout>
