---
import MainLayout from '../layouts/MainLayout.astro';
import ContactForm from '../components/ContactForm.astro';

const title: string = 'Contact Me';
const description: string =
  'Contact page. Send me a message for any inquiries or job offer.';
---

<MainLayout title={title} description={description}>
  <section>
    <h1
      class="mx-auto flex items-center justify-center text-center font-headfont text-3xl font-bold md:text-4xl"
    >
      Let's Connect
    </h1>

    <p class="mt-6 hidden text-center font-medium text-white md:block">
      Feel free to reach out! Fill out the form below, and I'll get back to you
      as soon as possible. Looking forward to hearing from you!
    </p>
    <p class="mt-6 block text-center font-medium text-white md:hidden">
      Feel free to reach out! Fill out the form below. Looking forward to
      hearing from you!
    </p>

    <ContactForm />
  </section>
</MainLayout>
