---
import MainLayout from '../layouts/MainLayout.astro';
import ContactForm from '../components/ContactForm.astro';
import { SITE, ISPARTOF } from '../data/constant';

// icons
import Email from '../components/ui/icons/Email.astro';
import Github from '@/components/ui/icons/Github.astro';
import LinkedIn from '@/components/ui/icons/LinkedIn.astro';
import Phone from '@/components/ui/icons/Phone.astro';
import Location from '@/components/ui/icons/Location.astro';
import Work from '@/components/ui/icons/Work.astro';

const title: string = `Contact Us | ${SITE.title}`;
const description: string =
  'Contact page. Send me a message for any inquiries or job offer.';
---

<MainLayout
  title={title}
  structuredData={{
    '@context': 'https://schema.org',
    '@type': 'WebPage',
    '@id': 'https://melnerdz.com/contact',
    url: 'https://melnerdz.com/contact',
    name: 'Contact Us | Melnerdz website',
    description: description,
    isPartOf: ISPARTOF,
    inLanguage: 'en-US',
  }}
  meta={description}
>
  <section class="mx-auto max-w-6xl px-4 py-12 md:px-6 lg:px-8">
    <div class="mx-auto mb-20 max-w-[35rem]">
      <h1 class="mb-8 text-center font-headfont text-3xl font-bold md:text-4xl">
        Let's Connect
      </h1>

      <p class="mb-6 text-center font-medium text-white">
        Feel free to reach out! Fill out the form below, and I'll get back to
        you as soon as possible. Looking forward to hearing from you!
      </p>
    </div>

    <div class="grid grid-cols-1 gap-8 md:grid-cols-2">
      <!-- Left Column: Contact Details -->
      <div class="space-y-6 text-white">
        <div class="flex items-center gap-4">
          <span class="text-lblue">
            <Email size={2} />
          </span>
          <p class="text-lg">me@melnerdz.com</p>
        </div>
        <div class="flex items-center gap-4">
          <span class="text-lblue">
            <Phone size={2} />
          </span>
          <p class="text-lg">+63 977 639 3459</p>
        </div>
        <div class="flex items-center gap-4">
          <span class="text-lblue">
            <Location size={2} />
          </span>
          <p class="text-lg">Philippines (GMT+8)</p>
        </div>
        <div class="flex items-center gap-4">
          <span class="text-lblue">
            <Work size={2} />
          </span>
          <p class="text-lg">
            Open to freelance and remote full-time opportunities
          </p>
        </div>
        <div>
          <h2 class="mb-2 text-xl font-semibold">Socials</h2>
          <ul class="flex items-center gap-4">
            <li class="text-lblue">
              <a
                href="https://github.com/mdejesus23"
                target="_blank"
                rel="noopener noreferrer"
                class="hover:underline"
              >
                <Github size={2} />
              </a>
            </li>
            <li class="text-lblue">
              <a
                href="https://www.linkedin.com/in/melnard-de-jesus-279132278"
                target="_blank"
                rel="noopener noreferrer"
                class="hover:underline"
              >
                <LinkedIn size={2} />
              </a>
            </li>
          </ul>
        </div>
      </div>

      <!-- Right Column: Contact Form -->
      <div>
        <ContactForm />
      </div>
    </div>
  </section>
</MainLayout>
