---
import MainLayout from '../layouts/MainLayout.astro';
import { SITE, ISPARTOF } from '../data/constant';
import EpubViewer from '@/components/EpubViewer';

const title: string = `Liturgy of the hours | ${SITE.title}`;
const description: string =
  'The Liturgy of the Hours, also known as the Divine Office or the Work of God (Opus Dei), is the daily prayer of the Church.';
---

<MainLayout
  title={title}
  structuredData={{
    '@context': 'https://schema.org',
    '@type': 'WebPage',
    '@id': 'https://melnerdz.com/liturgy',
    url: 'https://melnerdz.com/liturgy',
    name: 'Contact Us | Melnerdz website',
    description: description,
    isPartOf: ISPARTOF,
    inLanguage: 'en-US',
  }}
  meta={description}
  liturgy={true}
>
  <section class="mb-60">
    <div
      class="mb-20 flex flex-col items-center justify-center gap-4 text-center"
    >
      <h1
        class="mx-auto flex items-center justify-center text-center font-headfont text-3xl font-bold text-lblue md:text-4xl"
      >
        Office Of The Readings
      </h1>
      <p class="max-w-[60rem] text-base text-neutral-400">Christ is Risen!</p>
    </div>

    <EpubViewer client:load epubUrl="/liturgy-of-hours.epub" />
  </section>
</MainLayout>
