---
import MainLayout from '../layouts/MainLayout.astro';

const title: string = 'Thank you page';
---

<MainLayout title={title}>
  <section class="mx-auto text-center">
    <h1 class="font-headfont text-3xl font-bold md:text-4xl">Thank you</h1>
    <div class="mt-10">
      <p>Your message was sent successfully.</p>
      <p>
        Please wait a moment or <a class="font-semibold text-lblue" href="/">
          click here</a
        >
      </p>
    </div>
  </section>

  <script>
    setTimeout(() => {
      window.location.href = '/';
    }, 5000);
  </script>
</MainLayout>
