---

---

<footer
  class="item mx-auto flex max-w-5xl flex-col items-center justify-between gap-2 border-t border-gray-600 bg-transparent px-3 pb-10 pt-5 text-sm text-white md:flex-row xl:px-0"
>
  <div class="">
    Copyright &copy; <span id="copyright"></span> Created By <span
      class="font-semibold text-lblue">melnerdz.com</span
    >
  </div>
</footer>

<script>
  const copyRight = document.querySelector('#copyright')!;
  copyRight.textContent = new Date().getFullYear().toString();
</script>
