---
import { footerLinks } from '@/data/navLinks';

// icons
import Github from './ui/icons/Github.astro';
import Facebook from './ui/icons/Facebook2.astro';
import Rss from './ui/icons/Rss2.astro';
---

<footer
  class="item mx-auto flex max-w-5xl flex-col items-center justify-between gap-2 border-t border-gray-600 bg-transparent px-3 py-10 pb-10 pt-5 text-sm text-white md:flex-row xl:px-0"
>
  <div class="">
    Copyright &copy; <span id="copyright"></span> Created By <span
      class="font-semibold text-lblue">melnerdz.com</span
    >
  </div>

  <nav class="flex items-center justify-center gap-2">
    {
      footerLinks.map((link) => (
        <a
          class="cursor-pointer text-neutral-400 hover:text-lblue"
          href={link.url}
          target="_blank"
        >
          {link.title === 'Facebook' && <Facebook size={1.5} />}
          {link.title === 'RSS' && <Rss size={1.5} />}
          {link.title === 'Github' && <Github size={1.5} />}
        </a>
      ))
    }
  </nav>
</footer>

<script>
  const copyRight = document.querySelector('#copyright')!;
  copyRight.textContent = new Date().getFullYear().toString();
</script>
