---
import { Image } from 'astro:assets';
import Logo from '../images/logo.png';
---

<header
  class="mx-auto flex w-full max-w-5xl justify-between bg-transparent px-5 py-5 xl:px-0"
>
  <div class="">
    <a
      href="/"
      class="flex flex-row items-end gap-x-1 font-headfont text-2xl font-bold tracking-wide xs:text-3xl"
      ><Image class="w-8 xs:w-9 sm:w-10" src={Logo} alt="logo icon" /><span
        >elnerdz</span
      ></a
    >
  </div>
  <nav>
    <div
      class="flex flex-row items-center justify-between gap-y-4 px-3 py-4 xl:px-0"
    >
      <!-- will display none in 700px -->
      <div>
        <ul class="hidden space-x-6 font-medium sm:flex">
          <li>
            <a href="/projects" class="hover:text-lblue">Projects</a>
          </li>
          <li>
            <a href="/contact" class="hover:text-lblue">Contact</a>
          </li>
          <li>
            <a
              class="hover:text-lblue"
              href="https://github.com/mdejesus23"
              target="_blank">Github</a
            >
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
