---
import Logo from './ui/icons/Logo.astro';
import { navLinks } from '@/data/navLinks';
// import MenuClose from '@/components/ui/icons/MenuClose.astro';
import MenuOpen from '@/components/ui/icons/MenuOpen.astro';
import NavLink from './ui/NavLink.astro';
---

<header
  class="mx-auto flex w-full max-w-5xl items-center justify-between bg-transparent px-6 py-4 xl:px-0"
>
  <Logo />

  <!-- Desktop navigation -->
  <nav>
    <div
      class="flex flex-row items-center justify-between gap-y-4 px-3 py-4 xl:px-0"
    >
      <div>
        <ul class="hidden space-x-6 font-medium sm:flex">
          {
            navLinks.map((link) => (
              <NavLink title={link.title} url={link.url} />
            ))
          }
        </ul>
      </div>
      <div class="md:hidden">
        <button
          id="menu-toggle"
          type="button"
          class="hs-collapse-toggle"
          data-hs-collapse="#navbar-collapse-with-animation"
          aria-controls="navbar-collapse-with-animation"
          aria-label="Toggle navigation"
        >
          <MenuOpen />
        </button>
      </div>
    </div>
  </nav>
</header>

<!-- mobile nav  -->
<nav
  id="navbar-collapse-with-animation"
  class="hs-collapse hidden w-full overflow-hidden bg-project transition-[height] duration-300"
  aria-labelledby="hs-unstyled-collapse"
>
  <ul class="flex w-full flex-col items-center justify-between gap-10 py-4">
    {navLinks.map((link) => <NavLink title={link.title} url={link.url} />)}
  </ul>
</nav>

<script>
  import '@preline/collapse/index.js';
</script>
