---
import { Image } from 'astro:assets';
import profilePicture from '../images/mdj.png';
---

<section
  class="grid w-full grid-cols-1 items-center gap-y-10 md:grid-cols-[1.5fr_1fr]"
>
  <article>
    <h1 class="font-headfont text-[1.7rem] font-bold md:text-4xl">
      Hi, I'm <span class="text-lblue">Melnard</span> 👋
    </h1>
    <p class="mt-4 text-base leading-6 text-white md:leading-7">
      Full-Stack Web Developer focused on clean code, fast UIs, and scalable
      solutions.
    </p>
    <div class="mt-6">
      <a
        href="/melnard-de-jesus-resume.pdf"
        target="_blank"
        class="hover:bg-lblue/90 inline-block rounded-full bg-lblue px-5 py-2 text-sm font-medium text-white transition"
      >
        Download CV
      </a>
    </div>
  </article>

  <div class="flex justify-center md:justify-end">
    <figure
      class="h-44 w-44 overflow-hidden rounded-full bg-projectDesc md:h-60 md:w-60"
    >
      <Image src={profilePicture} alt="Profile picture" />
    </figure>
  </div>
</section>
