---
import { Image } from 'astro:assets';
import profilePicture from '../images/mdj.png';
---

<section
  class="grid min-h-full w-full grid-cols-[1fr] items-center gap-x-2 gap-y-10 md:grid-cols-[1.5fr_1fr]"
>
  <article>
    <h1 class="font-headfont text-[1.75rem] font-bold md:text-4xl">
      Hi there, I'm <span class="text-lblue">Melnard</span> 👋
    </h1>
    <p class="mt-6 text-base leading-6 text-white md:leading-7">
      A versatile Full-Stack Web Developer with deep expertise in HTML, CSS,
      JavaScript, and TypeScript, along with hands-on experience in Node.js,
      Express.js, React, and Astro SSG/SSR. Passionate about working with
      bleeding-edge technologies like Solid.js and SolidStart, pushing the
      boundaries of modern web development. Also enjoys leveraging Python for
      automation.
    </p>
    <div class="mt-6 flex items-center gap-x-2">
      <!-- <figure class="h-10 w-10 cursor-pointer hover:translate-y-1">
        <a href="https://www.facebook.com/dejesusmelnard" target="_blank">
          <Image src={facebook} alt="facebook icon" />
        </a>
      </figure>
      <figure class="h-10 w-10 cursor-pointer hover:translate-y-1">
        <a
          href="https://www.linkedin.com/in/melnard-de-jesus-279132278"
          target="_blank"
        >
          <Image src={linkedin} alt="linkedin icon" />
        </a>
      </figure>
      <figure class="h-9 w-9 cursor-pointer hover:translate-y-1">
        <a href="/MDJesus-resume.pdf" target="_blank">
          <Image src={cv} alt="cv icon" />
        </a>
      </figure> -->
    </div>
  </article>

  <div class="flex justify-center md:justify-end">
    <figure
      class="h-44 w-44 overflow-hidden rounded-full bg-projectDesc md:h-56 md:w-56"
    >
      <Image src={profilePicture} alt="Profile picture" />
    </figure>
  </div>
</section>
