---
import { Image } from 'astro:assets';
import profilePicture from '../../public/mdj.png';
import facebook from '../../public/socials/facebook-icon.png';
import linkedin from '../../public/socials/linkedin-icon.png';
import cv from '../../public/socials/cv.png';
---

<section
  class="grid min-h-full w-full grid-cols-[1fr] items-center gap-x-2 gap-y-10 md:grid-cols-[1.5fr_1fr]"
>
  <article>
    <h1 class="font-headfont text-3xl font-bold md:text-4xl">
      Hi there, I'm <span class="text-lblue">Melnard</span>👋
    </h1>
    <p class="mt-6 text-lg font-semibold leading-8 md:text-xl md:leading-9">
      A versatile Full-Stack Web Developer with deep expertise in HTML, CSS,
      JavaScript, and hands-on experience with Node.js, Express.js, React, and
      Astro. I specialize in building dynamic, responsive web applications and
      have the ability to recreate graphics like logo, tshirt design and more
      using Photoshop.
    </p>
    <div class="mt-6 flex items-center gap-x-2">
      <figure class="h-12 w-12 cursor-pointer hover:translate-y-1">
        <a href="https://www.facebook.com/dejesusmelnard" target="_blank">
          <Image src={facebook} alt="facebook icon" />
        </a>
      </figure>
      <figure class="h-12 w-12 cursor-pointer hover:translate-y-1">
        <a
          href="https://www.linkedin.com/in/melnard-de-jesus-279132278"
          target="_blank"
        >
          <Image src={linkedin} alt="linkedin icon" />
        </a>
      </figure>
      <figure class="h-9 w-10 cursor-pointer hover:translate-y-1">
        <a href="/MDJesus-resume.pdf" target="_blank">
          <Image src={cv} alt="cv icon" />
        </a>
      </figure>
    </div>
  </article>

  <div class="flex justify-center md:justify-end">
    <figure
      class="h-60 w-60 overflow-hidden rounded-full bg-projectDesc md:h-80 md:w-80"
    >
      <Image src={profilePicture} alt="Profile picture" />
    </figure>
  </div>
</section>
