---
import Meta from './Meta.astro';

// component imports
// import Seo from './Seo.astro';

interface Props {
  title?: string;
  meta?: string;
  structuredData?: object;
}

const { title = 'Melnerdz Website', meta, structuredData } = Astro.props;
---

<head>
  <meta charset="utf-8" />
  <link rel="apple-touch-icon" sizes="180x180" href="/logoV2.png" />
  <link rel="icon" type="image/png" sizes="32x32" href="/logoV2.png" />
  <link rel="icon" type="image/png" sizes="16x16" href="/logoV2.png" />
  <link rel="manifest" href="/site.webmanifest" />

  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
  />

  <link rel="sitemap" href="/sitemap-index.xml" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="generator" content={Astro.generator} />
  <title>{title}</title>

  <!-- Adding metadata to the HTML document -->
  <Meta meta={meta} structuredData={structuredData} />
</head>
