---
interface Props {
  currentPage: number;
  totalPages: number;
  disablePrevious: boolean;
  disableNext: boolean;
  next?: string;
  prev?: string;
}

const { prev, next, currentPage, totalPages, disablePrevious, disableNext } =
  Astro.props;
---

<div class="mx-auto mt-20 flex w-80 items-center justify-center gap-x-9">
  <a
    href={prev || '#'}
    class={`cursor-pointer text-center font-semibold text-lblue ${disablePrevious ? 'pointer-events-none text-gray-400' : ''}`}
    aria-disabled={disablePrevious}
  >
    PREVIOUS
  </a>
  <span class="text-center text-sm font-medium text-gray-600">
    Page {currentPage} of {totalPages}
  </span>
  <a
    href={next || '#'}
    class={`cursor-pointer text-center font-semibold text-lblue ${disableNext ? 'pointer-events-none text-gray-400' : ''}`}
    aria-disabled={disableNext}
  >
    NEXT
  </a>
</div>
