---
interface Props {
  currentPage: number;
  totalPages: number;
  disablePrevious: boolean;
  disableNext: boolean;
  next?: string;
  prev?: string;
}

const { prev, next } = Astro.props;
---

<div class="mx-auto mt-20 flex w-80 justify-center gap-x-9">
  {
    prev && (
      <a
        href={prev}
        href={prev}
        class="cursor-pointer text-center font-semibold text-lblue"
      >
        PREVIOUS
      </a>
    )
  }
  {
    next && (
      <a
        href={next}
        href={next}
        class="cursor-pointer text-center font-semibold text-lblue"
      >
        NEXT
      </a>
    )
  }
</div>
