<div
  class="prose:strong:text-lblue prose:strong:font-bold prose:em:text-lblue prose:em:font-bold prose prose-headings:underline prose-h2:text-lblue prose-h3:text-lblue prose-p:text-left prose-p:text-projectDesc prose-a:text-lblue prose-code:rounded-md prose-code:bg-neutral-500 prose-code:font-mono prose-code:text-gray-200 prose-li:text-projectDesc prose-img:rounded-xl"
>
  <slot />
</div>
