<div
  class="prose:strong:font-bold prose:em:text-white prose:em:font-bold prose prose-h1:text-white prose-h2:text-white prose-h3:text-white prose-p:text-left prose-p:text-projectDesc prose-a:text-white prose-code:rounded-md prose-code:bg-neutral-500 prose-code:font-mono prose-code:text-gray-200 prose-li:text-projectDesc prose-img:rounded-xl"
>
  <slot />
</div>
