---
import '../styles/index.css';
import MainHead from '../components/MainHead.astro';
import Header from '../components/Header.astro';

// import Header from '../components/Header.tsx';
import Footer from '../components/Footer.astro';

import Background from '@/components/Background';

// fonts
// Supports weights 100-700
import '@fontsource-variable/montagu-slab';
import '@fontsource/merriweather';
// Supports weights 300-800
import '@fontsource-variable/open-sans';
import '@fontsource/pacifico';
// Supports weights 400-700
import '@fontsource-variable/lora';
import '@fontsource/poppins';
import '@fontsource/bungee-inline';

interface Props {
  title?: string;
  structuredData?: object;
  meta?: string;
  liturgy?: boolean;
}

const { title, meta, structuredData, liturgy } = Astro.props;
---

<!doctype html>
<html lang="en">
  <MainHead
    liturgy={liturgy}
    title={title}
    meta={meta}
    structuredData={structuredData}
  />
  <body class="min-h-screen bg-pblue font-bodyfont font-light text-white">
    <!-- <Header client:load /> -->
    {!liturgy && <Header />}

    <main class="mx-auto my-10 min-h-screen max-w-5xl px-6 md:my-20 xl:px-0">
      <slot />
    </main>
    {!liturgy && <Footer />}
    <Background client:load />
  </body>
</html>
