---
interface Props {
  text?: string;
}

const { text } = Astro.props;
---

<div class="flex items-center gap-4 py-10">
  <div
    class="h-px flex-1 bg-gradient-to-r from-transparent via-border to-transparent"
  >
  </div>
  {
    text && (
      <span class="text-xs uppercase tracking-widest text-text-muted">
        {text}
      </span>
    )
  }
  {!text && <span class="bg-accent/50 h-1.5 w-1.5 rounded-full" />}
  <div
    class="h-px flex-1 bg-gradient-to-r from-transparent via-border to-transparent"
  >
  </div>
</div>
