---
import Download from './icons/Download.astro';
import ExternalLink from './icons/ExternalLink.astro';

const { title, url, isMobile = false } = Astro.props;
---

<li
  class={isMobile
    ? 'w-full border-b border-neutral-50 border-opacity-5 px-6 py-5'
    : ''}
>
  <a
    href={url}
    class="flex items-center gap-2 text-white hover:text-lblue"
    aria-label={title}
    target={title === 'Github' || title === 'CV' ? '_blank' : '_self'}
  >
    {title}
    {title === 'CV' && <Download />}
    {title === 'Github' && <ExternalLink />}
  </a>
</li>

<script>
  function normalize(path: string) {
    // remove trailing slashes except root "/"
    if (path === '/') return '/';
    return path.replace(/\/+$/, '');
  }

  function highlightActiveLink() {
    const links = document.querySelectorAll('a[href]');
    const currentPath = normalize(window.location.pathname);

    links.forEach((link) => {
      link.classList.remove('text-lblue');
      link.classList.add('text-white');
      if (link.getAttribute('href') === currentPath) {
        link.classList.remove('text-white');
        link.classList.add('text-lblue');
      }
    });
  }

  document.addEventListener('DOMContentLoaded', highlightActiveLink);
  document.addEventListener('astro:after-swap', highlightActiveLink); // triggers after SPA nav
</script>
