---
import Download from './icons/Download.astro';
import ExternalLink from './icons/ExternalLink.astro';

interface NavLink {
  title: string;
  url: string;
  isMobile?: boolean;
}

const { title, url, isMobile = false } = Astro.props;

const isActive = Astro.url.pathname === url;
---

<li
  class={isMobile
    ? 'w-full border-b border-neutral-50 border-opacity-5 px-6 py-5'
    : ''}
>
  <a
    href={title === 'Github' || title === 'CV' ? `${url}` : `${url}`}
    class=`flex items-center gap-2 hover:text-lblue ${isActive ? 'text-lblue' : 'text-white'}`
    aria-label={title}
    target={title === 'Github' || title === 'CV' ? '_blank' : '_self'}
  >
    {title}
    {title === 'CV' && <Download />}
    {title === 'Github' && <ExternalLink />}
  </a>
</li>
